@model Car_To_Go.Models.CarViewModel

@{ ViewData["Title"] = "Details"; }

    <div class="container">
        <h3 class="card-title font-weight-bolder text-center pt-3">@Model.Brandname | @Model.Modelname</h3>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8 pt-5 pb-5">
                <div class="img-fluid justify-content-center">
                    <img class="img-fluid" style="width:auto; height:auto" src="@Model.ImageLink" />
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
        <div class="row">
            <div class="col p-4 bg-primary m-1 border-white">
                <h5 class="font-weight-bold text-center text-white">Technical Information</h5>
                <p class="card-text font-weight-bold pl-3 pt-4">Power = @Model.Enginepower HP</p>
                <p class="card-text font-weight-bold pl-3">Transmission: @Model.Transmission</p>
                <p class="card-text font-weight-bold pl-3">Acceleration 0-100km/h in @Model.Acceleration seconds</p>
                <p class="card-text font-weight-bold pl-3">Fueltype = @Model.Fueltype</p>
            </div>

            <div class="col p-4 bg-primary m-3 border-white">
                <h5 class="font-weight-bold text-center text-white">Capacities Information</h5>
                <p class="card-text font-weight-bold pl-3 pt-4">Amount of seats: @Model.Seat</p>
                <p class="card-text font-weight-bold pl-3">Cargospace = @Model.Cargospace L</p>
                <p class="card-text font-weight-bold pl-3">Fueltype = @Model.Fueltype</p>
            </div>
        </div>
    </div>

    <div class="card-footer w-100 text-muted">
        <div class="row">
            <div class="col">
                <h5 class="card-text font-weight-bold">Rental price per day €@Model.RentalPrice</h5>
            </div>
            <div class="col">

            </div>
            <div class="col">
                <button class="btn btn-warning align-items-center">@Html.ActionLink("Bekijk de beschikbare tijden!", "#", "#")</button>
            </div>
         </div>
    </div>

